.homework-container {
   position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  overflow-y: auto;
}

/* 상단 제목 바 */
.hw-header {
  margin-top: 70px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

/* 왼쪽: 메달 + 숫자 */
.hw-header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hw-header-medal {
  width: 28px;
  height: 28px;
}

.hw-header-count {
  font-size: 26px;
  font-weight: bold;
}

/* 중앙 제목 */
.hw-header-title {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 오른쪽: 트로피 */
.hw-header-right {
  cursor: pointer;
}

.hw-header-trophy {
  width: 34px;
  height: 34px;
}


/* 스크롤 리스트 */
.hw-scroll {
  margin-top: 10px;
  height: calc(100vh - 70px - 60px - 70px);
  overflow-y: auto;
  padding-bottom: 120px;
}

/* 항목 박스 */
.hw-item {
  width: 85%;
  margin: 14px auto;
  background: #E9E9EA;
  border-radius: 22px;
  padding: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.hw-item-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
}

.hw-item-medal {
  width: 20px;
  height: 20px;
}

.hw-item-title {
  margin: 12px 0;
  font-size: 15px;
}

/* 완료 버튼 */
.hw-complete-btn {
  width: 100%;
  height: 20px;
  background: #82D1E6;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* 진행도 */
.hw-progress-text {
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
}

.hw-progress-bar {
  width: 100%;
  height: 14px;
  background: #d9d9d9;
  border-radius: 12px;
  margin-top: 6px;
}

.hw-progress-fill {
  height: 100%;
  background: #82D1E6;
  border-radius: 12px;
}
