.menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 100%;
  border: none;
  background: none;
    padding: 12px 0;
}

.menu-btn img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* 기본: 밑줄 숨김 */
.menu-underline {
  width: 60%;
  height: 6px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;
}

/* 선택된 메뉴: 하늘색 밑줄 표시 */
.menu-btn.active .menu-underline {
  background-color: #4DB3CF;
}
